<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SmtpServer" value="mail.its-stuttgart.de"/>
		<add key="Port" value="587"/>
		<add key="SenderEmail" value="hai.nguyen@its-stuttgart.de"/>
		<add key="Password" value="Bla!123123"/>
		<add key="EnableSsl" value="true"/>
	</appSettings>
</configuration>