<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="minh.digital"/>
    <add key="Port" value="465"/>
    <add key="SenderEmail" value="contact@minh.digital"/>
    <add key="Password" value="Bla!123123"/>
    <add key="EnableSsl" value="true"/>
  </appSettings>
</configuration>